extends layout

block content
  h1= title
  img(src="tmp/temperature.png")
  img(src="tmp/humidity.png")
  ul
    each val, index in beacons
      li= val.uuid + ': ' + (val.active ? 'active' : 'unknown') + ' in ' + val.created_at
